 body {
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/blue-modern-tech-guide-background-14_769134-338.jpg?ga=GA1.1.86973113.1748914198&semt=ais_items_boosted&w=740");
    background-size: 100vw 100vh;
    background-color: #28454d;
    color: #f5f6f7;
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    margin: 0;
}

h1 {  
    margin: 1em auto;
    text-decoration: underline;
}

p, ul {
    margin: 1em auto;
}

li {
    font-size: 20px;
}

ul {
    list-style-position: inside;  
    padding-left: 0;                          
    display: inline-block;        
    text-align: left;             
}

#tagline {
    font-size: 28px;
}

footer {
    font-size: 10px;
}

img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    border: 3px solid #f5f6f7;
    border-radius: 10px;
}

.wrapper {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.intro {
    flex: 1;
    max-width: 500px;
    background-color:#131177;
    border: 3px solid #f5f6f7;
    padding: 1em;
    border-radius: 10px;
    line-height: 1.6;
}
.skills {
    max-width: 500px;
    margin: 2em auto;
    background-color:#131177;
    border: 3px solid #f5f6f7;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}